@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');
/*
font-family: 'Gabarito', sans-serif;
*/
body{
    font-family: 'Gabarito', sans-serif;
    font-size:  1rem;
    color:blue;
}
table {
	font-size: 1em;
}

h1{
    text-align: center;
    font-weight: 300;
}
.container{
    width: 1024px;
    margin: auto; 
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

.owl-carousel .item{
    height: 10rem;
    background: #4DC7A0;
    padding: 1rem;
}

.owl-carousel .item{
    height: 10rem;
    background: #4DC7A0;
    padding: 1rem;
}